.content {
  display: flex;
  gap: var(--spacing-xl);
  align-items: flex-start;
  width: 100%;
  flex-shrink: 0;
}

.image-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  border-radius: var(--image-block-radius);
  overflow: clip;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm) 0;
  border-radius: var(--image-container-radius);
}

.swap-me {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
}

.swap-me img {
  display: block;
  width: 100%;
  height: 100%;
}

.text-block {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  gap: var(--spacing-lg);
  align-items: flex-start;
  align-self: stretch;
  min-width: 1px;
  color: var(--panel-font-color);
  word-break: break-word;
}

.header {
  margin: 0;
  width: 600px;
  max-width: 100%;
  height: 30px;
  font-family: var(--font-primary);
  font-size: var(--font-h2);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.body {
  margin: 0;
  height: 134px;
  width: 100%;
  font-family: var(--font-secondary);
  font-size: var(--font-med);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: pre-wrap;
}

.button-row {
  position: relative;
  width: 100%;
  height: 49.521px;
  flex-shrink: 0;
}

.button-row > .expand-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 49.521px;
}

.button-row > .panel-action-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 49.521px;
}
